<div class="oj-hybrid-padding">
  <h1>Files List</h1>
  <div>
      Here are all the files you have upladed in database
 
  <div class="oj-flex">
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-3 oj-xl-3 oj-panel oj-bg-neutral-30
                oj-sm-margin-4x-vertical oj-sm-margin-4x-horizontal">
      <oj-chart
      id="pieChart"
      type="pie"
      data="[[dataProvider1]]"
      animation-on-display="auto"
      animation-on-data-change="auto"
      style-defaults.three-d-effect="[[threeDValue]]"
      hover-behavior="dim">
      <template slot="itemTemplate" data-oj-as="item">
        <oj-chart-item
          value="[[item.data.value]]"
          group-id="[[ [item.data.group] ]]"
          series-id="[[item.data.series]]"></oj-chart-item>
      </template>
    </oj-chart>
    </div>
    <div class="oj-flex-item oj-sm-12 oj-md-12 oj-lg-8 oj-xl-8 oj-panel oj-bg-danger-30
    oj-sm-margin-4x-vertical oj-sm-margin-4x-horizontal">
    <oj-table
    id="table"
    aria-label="Files table"
    accessibility.row-header="fileName"
    data="[[dataprovider]]"
    dnd='{"reorder": {"columns": "enabled"}}'
    scroll-policy="loadMoreOnScroll"
    scroll-policy-options='{"fetchSize": 20}'
    on-selected-changed="[[selectedChangedListener]]"
    selection-mode='{"row":"single"}'
    columns='[{"headerText": "Name", "field": "name", "headerClassName": "oj-sm-only-hide", "className": "oj-sm-only-hide", "resizable": "enabled"},
              {"headerText": "URL", "field": "id", "resizable": "enabled"},
              {"headerText": "Type", "field": "mimeType", "headerClassName": "oj-sm-only-hide", "className": "oj-sm-only-hide", "resizable": "enabled"}]'
    class="demo-table-container"></oj-table>
    
  </div>
</div>

    </div>
</div>